extends layout

block content
	div#masthead 
		div.container
			div.row
				div.col-md-2
					div.well
						img(src="http://www.armonikizoi.com/wp-content/uploads/13643141-health-nature-logo.jpg" class="img-responsive logo")			
				div.col-md-10
					h1.welcome Welcome to The Self-Wellness Network
					ul
						li.educate Educate.   
						li.empower Empower.    
						li.heal Heal.   
						li.balance Balance.   
						li.grow Grow.   

	h1.about The Self-Wellness Network
	h2.about-two Thank you for visiting our site!
	hr
	h3.mission-statement Mission Statement:
	h4.mission The purpose of The Self-Wellness Network is for like-minded people to come together and to educate, empower and help others to heal, achieve balance in their lives and grow in mind, body and spirit.
	hr

	h3.types Types of Holistic Health Treatments
	div.types-of-treatments
		h4 Acupuncture
			p A method of relieving pain or curing illness by placing needles into a person's skin at particular points on the body. Originally a Traditional Chinese Medicine treatment that has achieved mainstream acceptance in the West.
		h4 Aromatherapy
			p The use of essential oils to achieve therapeutic benefits and promote health and well-being.
		h4 Behavioral Health
			p The use of techniques to improve the behavioral health of individuals, especially children.
		h4 Chinese Medicine
			p An ancient and vital holistic system of health and healing, based on the notion of harmony and balance, and employing the ideas of moderation and prevention.
		h4 Chiropractic
			p The body can heal itself when the skeletal system is correctly aligned and the nervous system is functioning properly. To achieve this, the practitioner performs specific manipulation of the vertebrae.
		h4 Diet
			p The amount and kind of food and drink consumed by a person every day. 
		h4 Energy-Based Therapies
			p A format of alternative medicine that uses an energy field(i.e., electrical, magnetic, sonic, acoustic, microwave, infrared) to screen for, or treat, health conditions by detecting imbalances in the body's energy fields and then correcting them. 
		h4 Exercise
			p 
		h4 Herbology
			p 
		h4 Homeopathy
			p 
		h4 Massage Therapy
			p 
		h4 Naturopathy
			p 
		h4 Psychotherapy
			p 
		h4 Stress Therapy
			p
	hr 

	h3.categories Categories of Health Issues
	div.categories-of-health
		h4 ADHD/ADD
			p
		h4 Allergies
			p 
		h4 Anxiety 
			p 
		h4 Arthritis
			p 
		h4 Autoimmune Disorder
			p 
		h4 Bipolar Disorder
			p 
		h4 Cancer
			p 
		h4 Cardiac
			p 
		h4 Depression
			p 
		h4 Digestion
			p 
		h4 Diabetes
			p 
		h4 Hormones
			p 
		h4 Pain
			p 
		h4 PTSD
			p 
		h4 Seizures
			p 
		h4 Skin/Hair/Beauty
			p 
		h4 Substance Abuse

