extends layout

block content
	img#add-treatment-image(src="http://2.bp.blogspot.com/_cWcuJM9QIG4/S7hSrBEDK8I/AAAAAAAAAZA/OHtyz3cUJ2o/s1600/Natural+wallpapers%252Bmobile+wallpapers%252Bpc+wallpapers%252Bwallpapers%252Bmobile+themes%252Bpc+themes+1ro.jpg" class="img-responsive" width="1000px" height="200px")
	h1#add-treatment-title 	Add Your Holistic Treatment To The Self-Wellness Network
	h3#add-treatment-subtitle Please be as specific as possible.
	hr
	
	p.treatment-type-two Treatment Type 
	p.health-category-two Health Category
	form#add-treatment(method="post", action="/posttreatment")
		select.type(name="type", placeholder="Type")
			option(value="Acupuncture") Acupuncture
			option(value="Aromatherapy") Aromatherapy
			option(value="Behavioral Health") Behavioral Health 
			option(value="Chinese Medicine") Chinese Medicine
			option(value="Chiropractic") Chiropractic
			option(value="Diet") Diet
			option(value="Energy-Based Theories") Energy-Based Theories  
			option(value="Exercise") Exercise 
			option(value="Herbology") Herbology
			option(value="Homeopathy") Homeopathy
			option(value="Massage Therapy") Massage Therapy 
			option(value="Naturopathy") Naturopathy 
			option(value="Psychotherapy") Psychotherapy
			option(value="Stress Therapy") Stress Therapy 
		select.category(name="category", placeholder="Category")
			option(value="ADHD/ADD") ADHD/ADD
			option(value="Allergies") Allergies
			option(value="Anxiety") Anxiety
			option(value="Arthritis") Arthritis
			option(value="Autoimmune Disorder") Autoimmune Disorder 
			option(value="Bipolar Disorder") Bipolar Disorder 
			option(value="Cancer") Cancer 
			option(value="Cardiac") Cardiac 
			option(value="Depression") Depression
			option(value="Digestion") Digestion 
			option(value="Diabetes") Diabetes
			option(value="Hormones") Hormones
			option(value="Pain") Pain
			option(value="PTSD/Trauma") PTSD/Trauma
			option(value="Seizures") Seizures
			option(value="Skin/Hair/Beauty") Skin/Hair/Beauty
			option(value="Substance Abuse") Substance Abuse
		br  
		input.name-two(name="name", placeholder="Name of Treatment")
		br
		textarea.materials-two(name="materials", placeholder="Materials Needed")
		br 
		textarea.description-two(name="description", placeholder="Description")
		br 
		input#add-treatment-button(type="submit" value="Add Treatment")
