extends layout

block content
	div#masthead 
		div.container
			div.row
				div.col-md-2
					div.well
						img(src="http://www.armonikizoi.com/wp-content/uploads/13643141-health-nature-logo.jpg" class="img-responsive logo")			
				div.col-md-10
					h1.welcome Welcome to The Self-Wellness Network
					ul
						li.educate Educate.   
						li.empower Empower.    
						li.heal Heal.   
						li.balance Balance.   
						li.grow Grow.   
						
	h1.contactinfo-title Please feel free to contact me at any time.
	h2.contactinfo-subtitle I look forward to hearing from you!
	hr 
	h3 Laura Stoffler
	h4 lauraholistichealth@gmail.com
	h4 (303) 765-4321
