extends layout

block content

    div(id="masthead") 
    	div(class="container")
        	div(class="row")
        		div(class="col-md-2")
            		div(class="well well-lg")
            			div(class="row")
                			div(class="col-sm-6")
                				img(src="http://www.armonikizoi.com/wp-content/uploads/13643141-health-nature-logo.jpg" class="img-responsive")
              
        		div(class="col-md-10")
            		h1 Empowered Self-Wellness Network
            			p(class="lead") Empower. Educate. Heal.
          
        	div(class="container")
        		div(class="jumbotron text-center")

    div(id="main" class="container")
		div(class="row")
        	div(class="col-md-3" id="leftCol")
        		ul(class="nav nav-stacked" id="sidebar")
            		li
            			a(href="#sec") ADHD/ADD
            		li
            			a(href="#sec") Anxiety
            		li
            			a(href="#sec") Arthritis
            		li
            			a(href="#sec") Autoimmune
            		li
            			a(href="#sec") Bipolar Disorder
            		li
            			a(href="#sec") Cancer
            		li
            			a(href="#sec") Cardiac
          			li
          				a(href="#sec") Depression
          			li
          				a(href="#sec") Digestion
            		li
            			a(href="#sec") Diabetes
          			li
          				a(href="#sec") Hormones
          			li
          				a(href="#sec") Pain
          			li
          				a(href="#sec") PTSD
          			li
          				a(href="#sec") Seizures
          			li
          				a(href="#sec") Skin/Hair/Beauty
          			li
          				a(href="#sec") Substance Abuse
          	div(class="col-md-9")
        		h2(id="sec0") Holistic Health and Self-Wellness
        		p Welcome to the Empowered Self-Wellness Network! Join other like-minded individuals in educating, empowering and healing one another through sharing holistic health treatments. Please click on a health issue to the left to see what holistic treatments others have shared, try them yourself and then rate them on availability, ease of use and effectiveness. Also, feel free to share all of your own holistic treatments that you love with others. It is through taking charge of our own health and wellness and sharing our knowledge with others that we can truly heal and empower each other to be in charge of our own health!


	