extends layout

block content
	div#masthead 
		div.container
			div.row
				div.col-md-2
					div.well
						img(src="http://www.armonikizoi.com/wp-content/uploads/13643141-health-nature-logo.jpg" class="img-responsive logo") 
				div.col-md-10
					h1.welcome Welcome to The Self-Wellness Network
					ul
						li.educate Educate.   
						li.empower Empower.    
						li.heal Heal.   
						li.balance Balance.   
						li.grow Grow.   

		div(class="container-jumbotron")
			div(class="jumbotron text-center")
				img(src="http://www.alkalima.com/images/08-02/nature.jpg"  class="img-responsive login-image")
	hr
	div.intro
		h2#intro-paragraph-title Holistic Health and Self-Wellness
		p.intro-paragraph Welcome to The Self-Wellness Network! Join other like-minded individuals in educating, empowering and healing one another through shared Holistic Health Treatments. This site offers users a forum to share and educate one another on Holistic Treatments for common health issues. Please sign up below by entering a username of your choice, a valid email address and your own unique password. After completing this step, on subsequent visits to the network, use the log-in fields to access your profile. It is through taking charge of our own health and wellness, and sharing our knowledge with others, that we can empower each other to take charge of our own wellness!

	hr
	h2.sign-up-title Sign-Up Here 
	h4 Please complete the fields below to enjoy the many benefits of The Self-Wellness Network.
	form#add-user(method="post", action="/signup") 
		input(name="username", placeholder="User Name")
		input(name="email", placeholder="Email")
		input(name="password", type="password" placeholder="Create Password")
		input(type="submit", placeholder="Submit", class="submit")
		
	h2.log-in-title Login Here 
	h4 Please complete the fields below to login to your profile after you have signed up.
	form#login(method="post", action="/login") 
		input(name="username", placeholder="User Name")
		input(name="email", placeholder="Email")
		input(name="password", type="password" placeholder="Password")
		input(type="submit", placeholder="Submit", class="submit")


